/* ==========================================================================
   Config
   ========================================================================== */

/* Fonts
   ========================================================================== */
$heading-font: 'raleway', sans-serif;
$body-font: 'franklin-gothic-urw', sans-serif;

/* H1 */
$h1-font-size: 40px;
$h1-line-height: 40px;

$h1-font-size-mobile: 30px;
$h1-line-height-mobile: 30px;


/* H2 */
$h2-font-size: 28px;
$h2-line-height: 38px;

$h2-font-size-mobile: 20px;
$h2-line-height-mobile: 24px;

/* H3 */
$h3-font-size: 20px;
$h3-line-height: 30px;

$h3-font-size-mobile: 16px;
$h3-line-height-mobile: 22px;

/* H4 */
$h4-font-size: 18px;
$h4-line-height: 22px;

$h4-font-size-mobile: 14px;
$h4-line-height-mobile: 18px;

/* Body */
$body-font-size: 14px;
$body-line-height: 18px;

/* Nav */
$nav-font-size: 14px;
$nav-font-size-tablet: 11px;

/* Header */
$header-font-size: 28px;
$header-line-height: 32px;

/* Button */
$button-font-size: 18px;
$small-button-font-size: 14px;


/* Colours
   ========================================================================== */
$purple: #9959b4;
$dark-purple: #652d8e;
$orange: #f06522;
$teal: #169e83;
$blue: #008cd1;

$primary-colour: $purple;
$primary-colour-dark: $dark-purple;
$secondary-colour: $orange;

